services:
  jetstream:
    build: .
    container_name: jetstream
    tty: true
    stdin_open: true
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - NAVIDROME_URL=http://navidrome:4533
      - SEARCH_LIMIT=${SEARCH_LIMIT:-50}
      - DOWNLOAD_FORMAT=${DOWNLOAD_FORMAT:-opus}
      - MUSIC_FOLDER=${MUSIC_FOLDER:-/music}
      - REDIS_ADDR=redis:6379
    depends_on:
      - redis
    restart: unless-stopped
    volumes:
      - ./music:/music:rw

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    volumes:
      - redis_data:/data

  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    #user: 1000:1000
    ports:
      - 4533:4533
    restart: unless-stopped
    volumes:
      - ./data:/data:rw
      - ./music:/music:rw

volumes:
  redis_data:
